<footer class="w-full h-24 text-center text-xs text-gray-400 bg-black relative">
	<div class="w-full px-6 md:pt-0 md:mx-auto md:max-w-5xl flex flex-1 space-between items-center absolute-center">
		<a href="{{ .Site.Home.Permalink }}" class="absolute1">
			{{ partial "icon" . }}
		</a>

		<div class="h-full flex-11">
			<span class="select-none">
				{{ range .Site.Menus.footer }}
				<a href="{{ .URL | relLangURL}}"
					class='class="text-gray-400 hover:text-gray-200 no-underline"'>
					{{ .Pre }} {{ i18n .Identifier }}
				</a>
		{{ end }}
				
			</span>
		</div>
	</div>
</footer>
